{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_NAC_IOT = [
  {'vrf':'blue', 'nac_ip':'198.18.133.27', 'nac_key':'C!sco123'}
  ]
%}