{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_NODE_ROLES =
  {
  'SPINE':    ['Alpine-Border1.sdatme.com'],
  'RR':       ['Alpine-Border1.sdatme.com'],
  'CLIENT':   ['Alpine-Edge1.sdatme.com'],
  'BORDER':   [],
  'MCLUSTER': []
  }
%}