{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set FABRIC_RP_ADDR  = '198.19.1.100' %}
{% set FABRIC_RP_SCOPES = ['239.190.0.0 0.0.255.255'] %}
{% set ENTERPRISE_RP_ADDR  = '198.19.1.254' %}
{% set ENTERPRISE_RP_SCOPES = ['238.190.0.0 0.0.255.255'] %}
