{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{# FABRIC-MCAST.j2 - Standalone Multicast Routing Template #}
{# Generates multicast routing configuration for the current device #}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-VRF.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/FUNC-VRF-LOOKUP.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-ROLES.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-LOOPBACKS.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-OVERLAY.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-L3OUT.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-MCAST.j2" %}
{# Dereference Catalyst Center magic variable #}
{% set DEVICE_HOSTNAME = __device.hostname | default('', true) %}
{# Resolve the VRF objects for this device #}
{% set vrf_objs = [] %}
{{ vrf_definition(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME) }}
{# Dummy set to satisfy CatC static UDV scanner - overridden at runtime by for-loop #}
{% set vrf = {'name': '', 'id': '', 'mdt_default': '', 'mdt_data': ''} %}
ip multicast-routing
!
{% for vrf in vrf_objs %}
ip multicast-routing vrf {{vrf.name}}
{% endfor %}
!
ip pim spt-threshold 0
!
{# Fabric-wide anycast RP address (global routing table) #}
ip pim rp-address {{FABRIC_RP_ADDR}}
{# Per-VRF enterprise RP address #}
{% for vrf in vrf_objs %}
ip pim vrf {{vrf.name}} rp-address {{ENTERPRISE_RP_ADDR}}
{% endfor %}
!
{# CONFIGURE ANYCAST RP INTERFACE ON SPINES ONLY #}
{% if DEVICE_HOSTNAME in DEFN_NODE_ROLES['SPINE'] %}
interface {{DEFN_LOOP_NAME['ANYCAST']}}
 description AnycastRP Fabric Loopback
 ip address {{FABRIC_RP_ADDR}} 255.255.255.255
 ip pim sparse-mode
 ip {{FABRIC_UNDERLAY.proto}} {{FABRIC_UNDERLAY.instance_id}} area {{FABRIC_UNDERLAY.area}}
!
{% for spine in DEFN_NODE_ROLES['SPINE'] %}
{% if spine != DEVICE_HOSTNAME %}
ip msdp peer {{DEFN_LOOP_UNDERLAY[spine]}} connect-source {{DEFN_LOOP_NAME['UNDERLAY']}} remote-as {{FABRIC_BGP_ASN}}
{% endif %}
{% endfor %}
{% endif %}